<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../.././partials/english/en-head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>
 
        <!-- NAV -->

        <% include ../.././partials/english/nav %>

        <!-- NAV END -->

        <h2 id="h2_en"> The Web Shark Andreas</h2>
        </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="projects">

<!-- RESPONSIVE FLAGS -->

<% include ../.././partials/english/resp-flags %>

<!-- RESPONSIVE FLAGS END -->


    <div class="project_div">
        <% projectData.forEach(function(elm) { %>
            <article>
                <h3><%= elm.project_en_title %></h3>
                <a href="<%= elm.project_en_link %>" target="_blank">
                    <img src="/resources/media/image/projects/<%= elm.project_en_image %>" alt="">
                </a>
                <p class="bold"><%= elm.project_en_date %></p>
                <p class="project_en_text_01"><%= elm.project_en_text_01 %></p>
                <p class="project_en_text_02"><%= elm.project_en_text_02 %></p>
                <p class="project_en_text_03"><%= elm.project_en_text_03 %></p>
            </article>
        <% }); %>

    </div>         

    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
            <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/static/resources/js/skills.js"></script>
<% include ../.././partials/sharedPartials/script %>
</html>